<template>
  <div>
    <div>
      <button-bar
        :site-count="this.sites.length"
        :add-disabled="addDisabled()"
        v-on:add-site="addSite"
        v-on:clear-sites="clearSites"
      />
    </div>
    <div>
      <site-list :sites="this.sites"/>
    </div>
    <footer @click="openAbout()">About</footer>
  </div>
</template>

<script>
import ButtonBar from "./ButtonBar.vue";
import SiteList from "./SiteList.vue";

import dayjs from "dayjs";
import uuidv4 from "uuid/v4";

export default {
  name: "app",
  components: {
    ButtonBar,
    SiteList
  },
  data() {
    return {
      currentTab: null,
      sites: []
    };
  },
  created() {
    this.loadSites();
  },
  beforeMount() {
    browser.tabs.query({ currentWindow: true, active: true }).then(tabs => {
      this.currentTab = tabs[0];
    });
  },
  mounted() {
    this.$root.$on("remove-site", this.removeSite);
  },
  updated() {
    browser.storage.sync.set({ sites: this.sites });
  },
  methods: {
    addDisabled() {
      return (
        this.sites.filter(site => site.url == this.currentTab.url).length > 0
      );
    },
    loadSites() {
      browser.storage.sync.get("sites").then(store => {
        const sites = store["sites"];
        const expired = dayjs().subtract(30, "day");
        this.sites = sites.filter(site =>
          dayjs.unix(site.addedAt).isAfter(expired)
        );
      });
    },
    addSite() {
      const filtered = this.sites.filter(
        site => site.url != this.currentTab.url
      );
      filtered.push({
        id: uuidv4(),
        title: this.currentTab.title,
        url: this.currentTab.url,
        addedAt: dayjs().unix()
      });
      this.sites = filtered.slice(-10);
    },
    removeSite(id) {
      this.sites = this.sites.filter(site => site.id != id);
    },
    clearSites() {
      this.sites = [];
    },
    openAbout() {
      browser.tabs.create({ url: "about.html" });
    }
  }
};
</script>

<style>
body {
  width: 350px;
  background-color: #ededed;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}

footer {
  clear: both;
  text-align: center;
  font-size: 0.7em;
  color: #2c3e50;
  cursor: pointer;
}
</style>
