<template>
  <div class="buttonBar">
    <button
      :disabled="!siteCount"
      @click="$emit('clear-sites')"
      v-shortkey="['c']"
      @shortkey="$emit('clear-sites')"
      class="button buttonClear"
    >X</button>
    <button
      :disabled="addDisabled"
      @click="$emit('add-site')"
      v-shortkey="['enter']"
      @shortkey="$emit('add-site')"
      class="button buttonAdd"
    >+</button>
  </div>
</template>

<script>
export default {
  name: "button-bar",
  props: {
    siteCount: Number,
    addDisabled: Boolean
  }
};
</script>


<style scoped>
.buttonBar {
  margin: 10px;
  display: block;
}

.button {
  margin-bottom: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999999;
}

.button:hover {
  box-shadow: none;
}

.button:disabled {
  background-color: #eeeeee;
  color: black;
  box-shadow: none;
  cursor: not-allowed;
}

.buttonAdd {
  float: right;
  background-color: #699c69;
}

.buttonClear {
  float: left;
  background-color: #be6763;
}
</style>
