<template>
  <div v-if="confirmDelete">
    <div @click="$root.$emit('remove-site', site.id)" class="action confirm">Confirm delete</div>
    <span @click="confirmDelete = false" class="action abort">X</span>
  </div>
  <div v-else>
    <div class="action remove" @click="confirmDelete = true">X</div>
    <a :href="`${site.url}`" target="_blank">
      {{truncatedTitle}}
      <span>({{relativeDate(site.addedAt)}})</span>
    </a>
  </div>
</template>

<script>
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
dayjs.extend(relativeTime);

export default {
  props: ["site"],
  data() {
    return {
      confirmDelete: false
    };
  },
  computed: {
    truncatedTitle() {
      const { title } = this.site;
      return title.length > 45 ? title.substring(0, 42) + "..." : title;
    }
  },
  methods: {
    relativeDate(ts) {
      return dayjs.unix(ts).fromNow();
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  overflow: hidden;
  color: #2c3e50;
}

a > span {
  font-size: 0.9em;
  display: block;
  color: #666666;
}

.action {
  cursor: pointer;
}

.remove {
  display: inline;
  float: right;
  padding-left: 5px;
  color: #be6763;
}

.confirm {
  display: inline;
  color: #be6763;
  font-weight: bold;
}

.abort {
  float: right;
}
</style>
