<template>
  <div v-if="sites.length > 0" class="siteList">
    <ul>
      <li v-for="site in sites">
        <site :site="site" :key="site.id"/>
      </li>
    </ul>
  </div>
</template>

<script>
import Site from "./Site.vue";

export default {
  name: "site-list",
  props: { sites: Array },
  components: { Site }
};
</script>

<style scoped>
.siteList {
  clear: both;
}

ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px;
  line-height: 1.2em;
  border-bottom: 1px solid #aaaaaa;
}

li:last-of-type {
  border-bottom: none;
}
</style>
